@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --background: #EDDBC2;
  --foreground: #391212;
  --mainheader: #2A20AA;
  --accent: #CB5544;
}

:root.dark {
  /* Dark mode colors */
  --background: #391212;
  --foreground: #EDDBC2;
  --mainheader: #8FA4D1;
  --accent: #CB5544;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
  font-family: inherit;
}

h1 {
  color: var(--mainheader);
  font-size: 2.5rem;  /* or 40px */
  font-weight: 700;
}