@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --background: #EDDBC2;
  --foreground: #391212;
  --mainheader: #2A20AA;
}

:root.dark {
  /* Dark mode colors */
  --background: #391212;
  --foreground: #EDDBC2;
  --mainheader: #8FA4D1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
  font-family: 'Old English Text MT', 'Times New Roman', serif;
}

h1 {
  color: var(--mainheader)
}